
body{
    background: linear-gradient(to right ,#1e242b 80%,  #d19efd  20%); 
}
header{
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

header p{
    margin: 0 20px;
    cursor: pointer;
    font-weight: bold;
}
.main_body{
    width:auto;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;  
    border: solid 2px  #d19efd;
    background: linear-gradient(to right ,#1e242b 90%,  #d19efd  10%);  
}
.content{
    margin-right: 50px;
    margin-top: 70px;
}

.content p{
    color: #d19efd;
    font-size: 1.75rem;

}
.content h1{
    font-size: 3rem;
    color: white;
  
}

.image{ 
    margin-top:90px ;
    margin-right: 50px;
   
}
.image img{
    height: 375px;
    width: 350px;
    border-radius: 50%;
    
}
.btn{
    display: flex;
    justify-content: start;
    gap: 20px;
}
.cv,.contact_info{
    width: auto;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
   
}
.social_media{
    width: 200px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    
}
.social_media img{
    width: 32px;
    height: 32px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}


.about{
    height: 450px;
    margin-left: 150px;
    margin-top: 135px;
    padding-top: 10px;
    padding-bottom: 10px; 
    display: flex;
    flex-direction: row;
   
    
}
/*.about_me{
    width: 200px; 
    height: 30p;
    background-color: #F3C623;
    border-radius: 20px; 
    margin: 0 auto; /* Centers the element horizontally */
    /*padding-top: 5px;
    margin-top: 2px;
    margin-bottom: 20px;} */

.about h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}
.about p{
    text-align: left;
    margin: 0px;
    font-size: large;
    color: white;
}
.about_content{
     width: 700px;
     margin-left: 140px;
     margin-right: 200px;
     margin-top: 100px;
}
.about_me{
  background-color: #243642;
  padding: 10px ;   
  border-radius: 30px;
  color: white;
  position: relative;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false ;
}
.about_me::after ,.about_me::before{
    content: '';/* no content */
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background-image: conic-gradient( from var(--angle) ,transparent 70%, #ff4545 ,#00ff99 ,#006aff ,#ff0095, #ff4545 );
    top:50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    animation: 4s spin linear infinite ;
}
.about_me::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}

.explore{
    text-align: center;
    margin-top: 30px;

}
.explore p{
    margin: 0px;
    color:  #d19efd;
}
.explore h1{
    padding: 5px;
    margin: 0px ;
    margin-bottom: 20px;
    color: white;
}
.exprience{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.html , .css  ,.js{
    width: 170px;
    height: 165px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    border: solid 2px #d19efd;
    box-shadow: 0px 6px 8px  #243642;
    transition: 2s;
}
.html:hover , .css:hover, .js:hover {
    box-shadow: 10px 10px 20px #d19efd;
}
.mysql, .bootstrap , .wordpress{
    width: 170px;
    height: 165px;
    margin-bottom: 20px;
    margin-left: 30px;
    color: white;
    border-radius: 10px;
    border: solid 2px #d19efd;
    transition: 2s;
    box-shadow: 0px 6px 8px #243642;
}
.mysql:hover , .bootstrap:hover , .wordpress:hover{
    box-shadow: 10px 10px 20px #d19efd;
}
.java ,.cpp,.python{
    width: 170px;
    height: 165px;
    margin-bottom: 20px;
    margin-left: 30px;
    color: white;
    border-radius: 10px;
    border: solid 2px #d19efd;
    transition: 2s;
    box-shadow: 0px 6px 8px #243642;
}
 .java:hover ,.cpp:hover , .python:hover{
    box-shadow: 10px 10px 20px  #d19efd;
}
.exprience img{
    width: 70px;
    height: 70px;
}

#contact{
    height: 200px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;
    background-color: #d19efd;
    border-radius: 90px;
    border: 5px solid #1e242b;
}
#contact p{
    margin-top: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
    width: 200px;
    border-radius: 40px;
}

.mail ,.call ,.location{
    border: solid 2.5px black;
    font-weight: bold;
    color: white;
    background-color:#1e242b;
}

/* project section*/
div1{
    height: auto;
    width:300px;
    border: 2px solid black;
    
}



